################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NodejsWebApp1/.vs/NodejsWebApp1/v14
/NodejsWebApp1/bin
/NodejsWebApp1/obj/Release
